<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Exclusive insights and data analysis on web traffic patterns.">
  <meta name="keywords" content="analytics, web traffic, SEO, data analysis, bots">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <main class="container">
  <p>"Thank you for your submission! Your data will not be collected. You should have never seen or accessed this page. Your information will now be tracked and monitored. Thank you and goodbye."
  </p>
  </main>
</html>